Source: wasta-cinnamon-layout-3-6
Section: utils
Priority: optional
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-cinnamon-layout-3-6

Package: wasta-cinnamon-layout-3-6
Architecture: all
Depends: cinnamon, jq, ${shlibs:Depends}, ${misc:Depends}
Recommends: arc-theme, wasta-vertex-ubuntu
Description: Wasta-Layout Cinnamon 3.6
 Wasta-Layout options for Cinnamon 3.6
